attrs==21.2.0
backports.entry-points-selectable==1.1.0
cfgv==3.3.1
distlib==0.3.3
filelock==3.2.1
identify==2.3.0
importlib-metadata==4.8.1
iniconfig==1.1.1
nodeenv==1.6.0
numpy==1.21.5
packaging==21.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
PyYAML==5.4.1
scipy==1.10.1
six==1.16.0
toml==0.10.2
typing-extensions>=4.0.1
virtualenv==20.8.1
zipp==3.6.0
